class <%= class_name %><%= options[:skip_suffix] ? "" : "Email" %> < <%= parent_class %>
  def subject = ""

  def text
    <<~TEXT
    TEXT
  end

  def html
    <<~HTML
    HTML
  end

  # def markdown
  #   # Requires: redcarpet, kramdown or commonmarker gem
  #   <<~MARKDOWN
  #   MARKDOWN
  # end
end
