Courrier.configure do |config|
  include Courrier::Email::Address

  # Set your email delivery provider
  # config.email = {
  #   provider: "", # default, `logger`, choose from: <%= Courrier::Email::Provider::PROVIDERS.keys.join(", ") %>
  #   api_key: "" your transactional email provider's API key
  # }


  # Configure provider-specific settings
  # config.providers.loops.transactional_id = ""
  # config.providers.mailgun.domain = ""


  # Set default sender details
  config.from = email_with_name("support@example.com", "Example Support") # => `Example Support <support@example.com>`
  # config.reply_to = ""
  # config.cc = ""
  # config.bcc = ""


  # Set host for Rails URL helpers, e.g. `{host: "https://railsdesigner.com/"}`
  # config.default_url_options = {}

  # Generate text version from HTML content
  # Default: `false`
  # config.auto_generate_text = false

  # Location for generated Courrier Emails
  # Default: `app/emails`
  # config.email_path = ""


  # Select logger for the `logger` provider
  # Default: `::Logger.new($stdout)` - Ruby's built-in Logger
  # config.logger = ""


  # Set your marketing email provider
  # config.subscriber = {
  #   provider: ""
  # }

  # Enable event tracking (delivery events stored in courrier_events table)
  # Courrier::Event.enabled = true
end
